/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');*/

body {

    background: linear-gradient(to bottom, #202020, #111119);
    min-width: 1393px;
    min-height: 540;
    top: 0;
    left: 0;
    background-size: 400% 400%;
    }




.box-3 {
    background-color: #ca00b900;
    margin-bottom: 20px;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    background-color: #00000000;
    position: relative;
    border-style: none;
    width: 30%;
    cursor: pointer;
    margin: 3px 3px;

}

.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.btn-three:hover::before {
    opacity: 0;
    color: rgba(109, 2, 136, 0.63);
    transform: scale(0.5, 0.5);
}

.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(109, 2, 136, 0.63);

    transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}



#canvas {
    border: 2px solid #fcfcfc;
    border-radius: 0.3vw
}


.inputstyle {
    width: 300px;
    height: 500px;
    text-align: center;
    vertical-align: top;
    float: none;
    vertical-align: middle;
    float: right;
    position: fixed;
}

.inputstyleblock {
    display: flex;
}

#cleaner {
    background: rgb(186, 82, 255);
}

div.operand {
    display: inline-block;
    height: 50%;
}

button.operand {
    width: 10vw;
    height: 2vw;
    margin-right: 1vw;
}

button.operand2 {
    width: 10vw;
    height: 2vw;
    margin-top: 2vw;
}


#color3D {
    border-width: 1px;
    background-color: rgba(83, 215, 255, 0);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    border-radius: 0.2vw;
    display: inline-block;
}

#Color {
    border-width: 1px;
    background-color: rgba(83, 215, 255, 0);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 0.2vw;
    display: inline-block;
}

#Color::-webkit-color-swatch,
#color3D::-webkit-color-swatch {
    border: none;
    border-radius: 0.2vw;
    padding: 0;
}

#input0 {
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    border-style: ridge;
    font-size: 28px;
    border-radius: 0.2vw;
}

#input1 {
    width: 50px;
    height: 50px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 0.2vw;
    border-style: ridge;
    text-align: center;
}

#inputexp {
    width: 220px;
    font-size: 28px;
    font-weight: bold;
    height: 50px;
    border-radius: 0.2vw;
    border-style: ridge;
    text-align: center;
}

.hide {
    display: none;
}

.inputElem {
    width: 25px;
}

.overlay {
    background-color: #666;
    height: 600;
    width: 100%;
    margin: 0px;
    top: 0;
    opacity: 1;
    border-radius: 0.2vw;
    position: absolute;
}

#showHide,
#showHide3D {
    margin-top: 0px;
}



#ui {
    width: 600px;
    text-align: center;
    display: block;
    position: relative;
    float: left;
    margin: 0px 0px;
}


#ui3D {
    width: 600px;
    text-align: center;
    display: block;
    position: relative;
    float: left;
    margin: 0px 0px;
}

.graphic2D,
.graphic3D {
    text-align: center;
    display: inline-block;
    height: auto;
}


#app {
    text-align: center;
}

.ranges {
    -webkit-appearance: none;
    /* Override default CSS styles */
    width: 400px;
    /* Full-width */
    height: 5px;
    /* Specified height */
    background: #000000;
    /* Grey background */
    border-radius: 5px;
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.ranges:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

.ranges::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    border-radius: 50%;
    margin-bottom: 0px;
    background: rgb(255, 255, 255);
    width: 20px;
    /* Set a specific slider handle width */
    height: 20px;
    /* Slider handle height */
}

.ranges::-moz-range-thumb {
    width: 1px;
    /* Set a specific slider handle width */
    border-radius: 20%;
    background: #01f009;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.texts {
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
}

#addFunction {
    text-align: center;
    position: relative;
    width: 99%;
    height: 50px;
    opacity: 1;
}

@-webkit-keyframes pulses {
    0% {
        -webkit-transform: scale(0.9);
        opacity: 0.7;
    }

    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.9);
        opacity: 0.7;
    }
}

@keyframes pulses {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

.strings {
    width: 325px;
    height: 50px;
    display: flex;
}

.inputintegral2 {
    vertical-align: top;
    border-radius: 0.2vw;
    width: 60px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0px;
}

.inputintegral1 {
    vertical-align: top;
    border-radius: 0.2vw;
    width: 60px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.buttonintegral {
    border-radius: 0.5vw;
    width: 100px;
}


.secondelem {
    vertical-align: top;
    border-radius: 0.5vw;
}

.secondelem2 {
    vertical-align: top;
    border-radius: 0.5vw;
}

.secondelem3 {
    vertical-align: top;
    width: 100px;
    border-radius: 0.5vw;
}

.Checkin {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    vertical-align: top;
    background-color: rgb(255, 0, 0);
}