.inputnumbers {
    text-align: center;
    border-radius: 0.2vw;
    width: 30%;
    height: 15vw;
    font-size: 22px;
}

.calcdivinputs {
    display: flexbox;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(255, 255, 255);
}

#calculator {
    text-align: center;
}

.texts {
    text-align: center;
    font-size: 22px;
}

.showPage {
    width: 200px;
    height: 50px;
    text-decoration: none;
    font-weight: bolder;
    font-size: smaller;
    text-align: center;
    display: inline-block;
    margin: 10px 20px;
    border-style: none;
    border-radius: 0.5vw;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #51858b 0%, #2a787e 51%, #8b2851 100%);
    background-size: 200% auto;
    transition: .5s;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2), 0 1px 6px rgba(0, 0, 0, .4), inset 0 1px rgba(255, 255, 255, .3), inset 0 0 3px rgba(255, 255, 255, .5);
}

.showPage:active {
    box-shadow: 0 2px rgba(0, 0, 0, 0.2), 0 1px 6px rgba(0, 0, 0, .4), inset 0 1px rgba(255, 255, 255, .3), inset 0 0 3px rgba(255, 255, 255, .5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

#header {
    text-align: center;
}

#graph2D {
    right: 50%;
}

.buttonscalc {
    width: 50px;
    height: 50px;
    border-radius: 0.5vw;
    margin: 10px;
    background: rgba(7, 1, 6, 0.486);
    font-size: 16px;
    border-style: none;
    color: white;
    transition: .5s;
    box-shadow: 0 2px rgba(0, 0, 0, .1), 0 1px 6px rgba(0, 0, 0, .1), inset 0 1px rgba(255, 255, 255, .1), inset 0 0 3px rgba(255, 255, 255, .1);
}

.buttonscalc:active {
    width: 75px;
    height: 75px;
    transition: 0.4s;
    position: static;
    box-shadow: 0 0px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(0, 0, 0, 0.1), inset 0 0px rgba(255, 255, 255, .1), inset 0 0 0px rgba(255, 255, 255, .1);
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 4px);
}

#opo {
    width: auto;
    height: auto;
    float: left;
    text-align: center;
}

#opo2 {
    width: auto;
    height: auto;
    float: left;
    text-align: center;
}